@font-face {
    font-family: 'iconfont';  /* project id 1974432 */
    src: url('https://at.alicdn.com/t/font_1974432_2y8ec3w1wgl.eot');
    src: url('https://at.alicdn.com/t/font_1974432_2y8ec3w1wgl.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1974432_2y8ec3w1wgl.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1974432_2y8ec3w1wgl.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1974432_2y8ec3w1wgl.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1974432_2y8ec3w1wgl.svg#iconfont') format('svg');
}
.iconfont::before{
    font-family: "iconfont";
    display:block;
    transform: translate(-.1rem); 
    color: #999;
}
.icon-close::before{  
	content: '\e70a'; 
}
.icon-edit::before{  
    content: '\e6af'; 
    font-size: 20px;
    color: #eaeaea;
}
.icon-delete::before{  
	content: '\e646'; 
    font-size: 20px;
    color: #eaeaea;
}
.icon-zhangh::before{
    content: '\e600'; 
    font-size: 22px;
    color: #999;
}
.icon-mim::before{
    content: '\e61b'; 
    font-size: 22px;
    color: #999;
}
.icon-yanzm::before{
    content: '\e618'; 
    font-size: 22px;
    color: #999;
}
.icon-select::before{
    content: '\e614'; 
    font-size: 16px;
    color: #999;
    padding-left: 5px;
}