.el-input__inner{
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
}
.el-button--primary,.el-button--default{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}
.white-bth{
    color: #409EFF;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #409EFF;
    box-sizing: border-box;
}
.white-bth:hover{
    color: #409EFF;
    background: #fff;
}
.white-bth .active{
    color: #409EFF;
    background: #fff;
}
.blue-bth{
    color: #fff;
    background: #409EFF;
}
.blue-bth:hover{
    color: #fff;
    background: #409EFF;
}
.no-btn{
    color: #777;
    background: #fff;
    border-color: #eaeaea;
}
.no-btn:hover{
    color: #777;
    background: #fff;
    border-color: #eaeaea;
}
.el-form-item{
    margin-bottom: 10px;
}
.el-form-item__error{
    padding-top: 0;
}
.el-table td{
    padding: 0;
}
.el-pagination{
    margin: 20px 0;
    text-align: center;
}
/* .location{
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
}
.location span{
    cursor: pointer;
}
.location .spans{
    color: #409EFF;
}
.location span:first-child{
    color: #000;
} */